html { 
        background-image: linear-gradient( rgb(0, 153, 255) , rgb(0, 47, 255)); 
       /* background: url(ClearImg.jpg) no-repeat center center fixed; */
    /*    background: url(./../IMAGES/ClearImg.jpg) no-repeat center center fixed; */

    background: url(../IMAGES/ClearImg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
  }

body {
    background-color: whitesmoke; 
    color: rgb(0, 132, 255);
    padding: 5%;
    margin: 10%;
    border-radius: 15px;
   /* padding-top: 50%;
    padding-bottom: 120%; */
}

.hello{
    text-align: center;
    display: block;
}

.feelsLike{
    text-align: center;

    display: none;
}

.locationInput{
    text-align: center;

    display: none;

}

.possibleChoices{
    text-align: center;

    display: none;

}

#prevSearch{
    text-align: center;

    display: none;
}

.restart{
    text-align: center;

    display: none;

}

.Thunderstorm{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Drizzle{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Rain{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Snow{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Clear{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Clouds{
    background-image: url("");
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}