

body {
    background-image: linear-gradient( rgb(0, 153, 255) , rgb(0, 47, 255));
    color: blanchedalmond;
    padding: 15%;
    padding-top: 50%;
    padding-bottom: 120%;
}

.hello{
    text-align: center;
    display: block;
}

.feelsLike{
    color: hotpink;
    display: none;
}

.locationInput{
    color: chartreuse;
    display: none;

}

.possibleChoices{
    color: orange;
    display: none;

}

#prevSearch{
    color: violet;
    display: none;
}

.restart{
    color: yellow;
    display: none;

}
