html { 
    background-image: linear-gradient( rgb(0, 153, 255) , rgb(0, 47, 255)); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;

    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

body {
    background-image: linear-gradient( rgb(0, 153, 255) , rgb(0, 47, 255)); 
    color: white;
    padding: 5%;
    margin: 10%;
    border-radius: 15px;
   /* padding-top: 50%;
    padding-bottom: 120%; */
}

td {
    padding: 10px;
}

.save-btn{
    border-radius: 9999px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em);
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    text-align: center;
    cursor: pointer;
}


.hello{
    text-align: center;
    display: block;
}

.feelsLike{
    text-align: center;

    display: none;
}

.checkbox:hover, .radio:hover {
    color: white;
}



.locationInput{
    text-align: center;

    display: none;

}

.locationInput input{
    border-radius: 9999px;
    padding-left: calc(calc(.75em - 1px) + .375em);
    padding-right: calc(calc(.75em - 1px) + .375em);
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    border-color: transparent;
}

.possibleChoices{
    text-align: center;

    display: none;

}

.possibleChoices h2 {
    padding-bottom: 2%;
}

#prevSearch{
    text-align: center;

    display: none;
}

#clearPreviousChoice{
    display: none;
}

.restart{
    text-align: center;

    display: none;

}

.Thunderstorm{
    background-image: url(./../IMAGES/Thunderstorm.jpg);
    width: 100%;
    height: auto; 
    top: 0;
    left: 0;
}

.Drizzle{
    background-image: url(./../IMAGES/Drizzle.jpg);
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Haze{
    background-image: url(./../IMAGES/Haze.jpg);
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Rain{
    background-image: url(./../IMAGES/Rain.jpg);
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Snow{
    background-image: url(./../IMAGES/Snow.jpg);
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Clear{
    background-image: url(./../IMAGES/ClearImg.jpg);
    width: 100%;
    height: auto;
      
    top: 0;
    left: 0;
}

.Clouds{
    background-image: url(./../IMAGES/Clouds.jpg);
    width: 100%;
    height: auto;   
    top: 0;
    left: 0;
}

.Mist{
    background-image: url(./../IMAGES/Mist.jpg);
    width: 100%;
    height: auto;   
    top: 0;
    left: 0;
}

.Dust{
    background-image: url(./../IMAGES/Dust.jpg);
    width: 100%;
    height: auto;   
    top: 0;
    left: 0;
}

.Fog{
    background-image: url(./../IMAGES/Fog.jpg);
    width: 100%;
    height: auto;   
    top: 0;
    left: 0;
}

.Tornado .Squall {
    background-image: url(./../IMAGES/TornadoSquall.jpg);
    width: 100%;
    height: auto;   
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px) {
   
    body {
        margin: 5%;
    }

    td {
        padding: 0px;
    }
}